div {
    text-align: center;
}

header {
    background-color: black;
 text-align: center;
    padding: 20px;
  background-color: rgb(100, 137, 171);
    color: black;
    font-size: 24px;
    font-weight: bold;
    
   
}

body {
    font-family: 'satisfy', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(151, 158, 27);
    line-height: 1.6;
    
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
